{% extends 'base.html' %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4 mt-5">
            <form action="{% url 'create_task' %}" method="POST" class="card card-body">
                <h2 class="text-center display-5 fw-bold mt-1 py-3">Create task for {{user}}</h2>

                <p style="color: red">{{error}}</p>

                {% csrf_token %}

                {{form.as_p}}

                <button class="btn btn-dark">
                    Save
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}